<%= bootstrap_devise_error_messages! %>
<div class="devise-page">
  <div class="devise-card">
    <div class="devise-card__header">
      <h2><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h2>
    </div>
    <div class="devise-card__body">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
        <div class="devise-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: "devise-submit" %>
      <% end %>
    </div>
    <div class="devise-card__footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
