<section id="cd-intro">
  <div id="cd-intro-background"></div>
  <div id="cd-intro-tagline">
  </div>
</section>

<main class="cd-content">
  <div class="cd-container">
    <div class="download-page-header">
      <div class="breadcrumb-nav">
        <% if params[:dir].present? && params[:dir] != "/" %>
          <% previous_dir = File.dirname(params[:dir]) %>
          <%= link_to download_path(dir: previous_dir), class: "breadcrumb-link" do %>
            <%= fa_icon "arrow-left", class: "fa-sm" %>
            <span><%= t('downloads.back') %></span>
          <% end %>
        <% end %>
        <div class="current-path">
          <%= fa_icon "folder-open", class: "fa-sm" %>
          <span><%= @current_directory.to_s.gsub(@base_directory.to_s, '') || '/' %></span>
        </div>
      </div>

      <% if current_user && current_user.admin? %>
        <div class="admin-actions">
          <div class="action-card">
            <%= form_with url: downloads_create_folder_path, local: true, class: "inline-form" do %>
              <%= text_field_tag :folder_name, nil, placeholder: t('downloads.folder_name'), class: "modern-input" %>
              <%= submit_tag t('downloads.create_folder'), class: "btn-modern btn-primary" %>
              <%= hidden_field_tag :dir, @current_directory.to_s.gsub(@base_directory.to_s, '') %>
            <% end %>
          </div>

          <div class="action-card">
            <%= form_with url: downloads_upload_file_path, local: true, multipart: true, class: "inline-form" do %>
              <label class="file-upload-btn">
                <%= file_field_tag :file, class: "file-input" %>
                <%= fa_icon "upload", class: "fa-sm" %>
                <span class="file-label-text"><%= t('downloads.choose_file') %></span>
              </label>
              <span class="file-name-display"></span>
              <%= submit_tag t('downloads.upload'), class: "btn-modern btn-secondary" %>
              <%= hidden_field_tag :dir, @current_directory.to_s.gsub(@base_directory.to_s, '') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="download-content">
      <% if @directories.any? %>
        <div class="folders-section">
          <h3 class="section-title">
            <%= fa_icon "folder", class: "fa-sm" %>
            <span><%= t('downloads.folders') %></span>
          </h3>
          <ul class="folders-list">
            <% @directories.each do |directory| %>
              <li class="folder-item">
                <%= link_to download_path(dir: File.join(params[:dir] || '', directory)), class: "folder-link" do %>
                  <div class="folder-icon">
                    <%= fa_icon "folder", class: "fa-sm" %>
                  </div>
                  <span class="folder-name"><%= directory %></span>
                <% end %>
                <% if current_user && current_user.admin? %>
                  <%= link_to downloads_delete_folder_path(dir: File.join(params[:dir] || '', directory)), method: :delete, data: {confirm: "Удалить директорию #{directory}?"}, class: "delete-btn" do %>
                    <%= fa_icon "trash", class: "fa-sm" %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @files.any? %>
        <div class="files-section">
          <h3 class="section-title">
            <%= fa_icon "file", class: "fa-sm" %>
            <span><%= t('downloads.files') %></span>
          </h3>
          <ul class="files-list">
            <% @files.each do |file| %>
              <li class="file-item">
                <%= link_to upload_access_file_path(file, dir: @current_directory), target: '_blank', class: "file-link" do %>
                  <div class="file-icon">
                    <%= fa_icon "file", class: "fa-sm" %>
                  </div>
                  <span class="file-name"><%= file %></span>
                <% end %>
                <% if current_user && current_user.admin? %>
                  <%= link_to downloads_delete_file_path(path: "/#{params[:dir]}/#{file}"), method: :delete, data: {confirm: "Удалить файл #{file}?"}, class: "delete-btn" do %>
                    <%= fa_icon "trash", class: "fa-sm" %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @directories.empty? && @files.empty? %>
        <div class="empty-state">
          <%= fa_icon "folder-open", class: "fa-2x" %>
          <p><%= t('downloads.empty_folder') %></p>
        </div>
      <% end %>
    </div>
  </div>
  <a href="#0" class="cd-top"><%= t('downloads.top') %></a>
</main>
