<header class="cd-header">
  <div id="cd-logo"><a href="/"><%= t('header') %></a></div>
  <nav class="cd-main-nav">
    <ul>
      <% Tab.order(:created_at).each_with_index do |tab, i| %>
        <% next if i == 0 %>
        <% break if i > 5 %>
        <li class="main">
          <% if I18n.locale == :ru %>
            <%= link_to tab.title_ru, tab_path(tab.title_en.downcase.tr(' ','_')) %>
          <% else %>
            <%= link_to tab.title_en, tab_path(tab.title_en.downcase.tr(' ','_')) %>
          <% end %>
        </li>
      <% end %>
      <% if Tab.count > 5 %>
        <li class="dropdown">
          <button class="dropbtn"><%= t('more') %>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <% Tab.order(:created_at).each_with_index do |tab, i| %>
              <% next if i < 6 %>
              <% if I18n.locale == :ru %>
                <%= link_to tab.title_ru, tab_path(tab.title_en.downcase.tr(' ','_')) %>
              <% else %>
                <%= link_to tab.title_en, tab_path(tab.title_en.downcase.tr(' ','_')) %>
              <% end %>
            <% end %>
            <% if I18n.locale == :ru %>
              <%= link_to t('files'), files_path %>
            <% else %>
              <%= link_to t('files'), files_path %>
            <% end %>
          </div>
        </li>
        <% Tab.order(:created_at).each_with_index do |tab, i| %>
          <% next if i < 6 %>
          <li class="more">
            <% if I18n.locale == :ru %>
              <%= link_to tab.title_ru, tab_path(tab.title_en.downcase.tr(' ','_')) %>
            <% else %>
              <%= link_to tab.title_en, tab_path(tab.title_en.downcase.tr(' ','_')) %>
            <% end %>
          </li>
        <% end %>
        <li class="more">
          <% if I18n.locale == :ru %>
            <%= link_to t('files'), files_path %>
          <% else %>
            <%= link_to t('files'), files_path %>
          <% end %>
        </li>
      <% end %>
      <li class="main">
        <% if user_signed_in? %>
            <%= link_to t("sign_out") + " (" + current_user.email + ")", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t("login"), new_user_session_path %>
        <% end %>
      </li>
      <li class="lang">
        <%= render 'layouts/lang' %>
      </li>
    </ul>
  </nav>
</header>
